In [147]:
import pandas as pd

In [123]:
df = pd.read_csv("vgsales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
 11  year_label    16598 non-null  object
dtypes: float64(6), int64(1), object(5)
memory usage: 1.5+ MB

In [153]:
print('There are', df['Year'].isnull().sum(), 'null values present in the year column')

There are 271 null values present in the year column

In [131]:
total_rows = print("Total number of rows in the data is",df.shape[0])
percentage_null = print("The Percentage of Null Values in year column is", round((271/16598)*100),"%")

Total number of rows in the data is 16598
The Percentage of Null Values in year column is 2 %

In [175]:
round(df['Year'].median())

2007

In [173]:
round(df['Year'].mean())

2006

In [177]:
df['Year'].mode()

0    2009.0
Name: Year, dtype: float64

In [ ]:
df['Year'] = df['Year'].fillna(df['Year'].median())

In [41]:
df_before_2005 = df[df['Year'] < 2005]  # Data before 2005
df_2005_and_after = df[df['Year'] >= 2005]  # Data from 2005 and later

In [43]:
df_before_2005.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10

In [135]:
df_2005_and_after.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02

In [193]:
mean_pre = round(df_before_2005['Global_Sales'].mean(),2)

In [195]:
mean_post = round(df_2005_and_after['Global_Sales'].mean(),2)

In [197]:
print(f"The mean of the Global Sales before 2005: {mean_pre}")
print(f"The mean of the Global Sales on and after 2005: {mean_post}")

The mean of the Global Sales before 2005: 0.65
The mean of the Global Sales on and after 2005: 0.49

In [199]:
if mean_pre > mean_post:
    print('The Global Sales average is higher before 2005')
else:
    print('The Global Sales average is higher after 2005')

The Global Sales average is higher before 2005

In [137]:
a = []
for i in df['Year']:
    if i < 2005:
       a.append('Pre-2005')
    else:
       a.append('Post-2005')
df['year_label'] = a

In [139]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,year_label
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Post-2005
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Pre-2005
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,Post-2005
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,Post-2005
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,Pre-2005